@font-face { font-family: 'regular'; src: url('sachacHand.woff'); }
.regular { font-family: 'regular'; }
@font-face { font-family: 'bold'; src: url('sachacHandBold.woff'); }
.bold { font-family: 'bold'; }
@font-face { font-family: 'black'; src: url('sachacHandBlack.woff'); }
.black { font-family: 'black'; }
table { font-size: inherit; font-weight: inherit }td { text-align: left }.blog-heading { font-weight: bold; font-size: 32px }.default { color: gray }body { font-family: woff, Arial, sans-serif; font-size: 32px; padding: 10px }h1, h2, h3, h4, h5, h6 { font-weight: normal }